<div class="create-branch-container ">
  <section class="defaults mat-theme" *ngIf="hasSelectedProject">
    <h2 style="margin-top: 0;">Branch Configuration </h2>

    <div class="controls">

      <mat-form-field appearance="fill">
        <mat-label>Base Branch</mat-label>
        <input matInput [(ngModel)]="baseBranch" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Branch</mat-label>
        <input matInput [(ngModel)]="newBranchName" />
      </mat-form-field>

      <div class="theme-toggle-container">
        <mat-label class="branch-icon">Protect Branch</mat-label>

        <mat-slide-toggle [(ngModel)]="isProtected" color="primary">
        </mat-slide-toggle>
      </div>

    </div>
  </section>


  <section class="projects">
    <h2 style="margin-top: 0;" *ngIf="hasSelectedProject">Projects</h2>
    <div *ngIf="hasSelectedProject; else noData">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table">

      <!-- Select -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let project">
          <mat-checkbox [(ngModel)]="project.is_selected"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Project Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Project Name</th>
        <td mat-cell *matCellDef="let project">
          <app-badge [label]="project.project_name" [type]="getProjectType(project.project_name)"></app-badge>
        </td>
      </ng-container>

      <!-- Branch Status -->
      <ng-container matColumnDef="branch_status">
        <th mat-header-cell *matHeaderCellDef class="col-center">Branch Status</th>
        <td mat-cell *matCellDef="let project" class="col-center">
          <app-badge *ngIf="project.branch_status != '-'" [label]="project.branch_status" [type]="project.branch_status">
          </app-badge>
          <span *ngIf="project.branch_status === '-'" class="muted">—</span>
        </td>
      </ng-container>

      <!-- Protection Status -->
      <ng-container matColumnDef="protection_status">
        <th mat-header-cell *matHeaderCellDef class="col-center">Protection</th>
        <td mat-cell *matCellDef="let project" class="col-center">
          <app-badge *ngIf="project.protection_status != '-'" [label]="project.protection_status" [type]="project.protection_status">
          </app-badge>
          <span *ngIf="project.protection_status === '-'" class="muted">—</span>
        </td>
      </ng-container>

      <!-- Open Link -->
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef class="col-center"> Open </th>
        <td mat-cell *matCellDef="let project" class="col-center">
          <a class="pointer" (click)="openDefaultBrowser(project.web_url)" *ngIf="project.web_url; else noLink" class="pointer">🔗</a>
    <ng-template #noLink>-</ng-template>
        </td>
      </ng-container>

      <!-- Header + Rows -->
      <tr mat-header-row *matHeaderRowDef="['select','name','branch_status','protection_status', 'link']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['select','name','branch_status','protection_status', 'link'];"></tr>

      </table>
    </div>
  </section>

  <ng-template #noData>
    <div class="empty-state">
      <mat-icon>folder_off</mat-icon>
      <h3>No Project Selected</h3>
      <p>
        Please select a project in
        <strong>Settings</strong>.
      </p>
    </div>
  </ng-template>


  <div class="actions" *ngIf="hasSelectedProject">
    <!-- Left: Last Refreshed Info -->
    <div class="refresh-info">
      ⏱️ Last refreshed: {{ lastRefreshed | date: 'dd/MM/yyyy hh:mm a' }}
    </div>
    <div class="button-group">
      <button mat-raised-button class="themed-btn" (click)="refreshBranchStatus()" [disabled]="!isAnySelected()">🔄 Refresh</button>
      <button mat-raised-button class="themed-btn" (click)="createBranches()" [disabled]="!isAnySelected()">🚀 Create Branch</button>
    </div>
  </div>
</div>
