<div class="create-branch-container ">
  <section class="defaults mat-theme" *ngIf="hasSelectedProject">
    <h2 style="margin-top: 0;">Branch Compare </h2>

    <div class="controls">

      <mat-form-field appearance="fill">
        <mat-label>Source Branch</mat-label>
        <input matInput [(ngModel)]="sourceBranch" (input)="resetDataSource()" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Target Branch</mat-label>
        <input matInput [(ngModel)]="targetBranch" (input)="resetDataSource()" />
      </mat-form-field>

      <!-- <div class="theme-toggle-container">
        <mat-label class="branch-icon">Protect Branch</mat-label>

        <mat-slide-toggle [(ngModel)]="isProtected" color="primary">
        </mat-slide-toggle>
      </div> -->

    </div>
  </section>


  <section class="projects">
    <h2 style="margin-top: 0;" *ngIf="hasSelectedProject">Projects</h2>
    <div *ngIf="hasSelectedProject; else noData">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table">

      <!-- Select -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let project">
          <mat-checkbox [(ngModel)]="project.is_selected"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Project Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Project Name</th>
        <td mat-cell *matCellDef="let project">
          <app-badge [label]="project.project_name" [type]="getProjectType(project.project_name)"></app-badge>
        </td>
      </ng-container>

      <!-- Branches -->
      <!-- <ng-container matColumnDef="branches">
        <th mat-header-cell *matHeaderCellDef>Branches</th>
        <td mat-cell *matCellDef="let project">
          <code [class.invalid]="!project.sourceBranchExists">
            {{ sourceBranch }}
          </code>
          →
          <code [class.invalid]="!project.targetBranchExists">
            {{ targetBranch }}
          </code>
        </td>
      </ng-container> -->
      <ng-container matColumnDef="branches">
        <th mat-header-cell *matHeaderCellDef class="col-center">Branches</th>
        <td mat-cell *matCellDef="let project" class="col-center">
      
          <div class="branch-pill-container">
            <app-badge *ngIf="sourceBranch" [label]="sourceBranch" variant="pill" [type]="getBranchChipType(project.sourceBranchExists)">
            </app-badge>
      
            <span class="branch-arrow" *ngIf="sourceBranch && targetBranch"  >→</span>
            <app-badge *ngIf="targetBranch" [label]="targetBranch" variant="pill" [type]="getBranchChipType(project.targetBranchExists)">
            </app-badge>
      
          </div>
      
        </td>
      </ng-container>
      

      <!-- Ahead -->
      <ng-container matColumnDef="ahead">
        <th mat-header-cell *matHeaderCellDef class="col-center">Ahead</th>
        <td mat-cell *matCellDef="let project" class="col-center">
          <app-badge *ngIf="project.ahead > 0" [label]="project.ahead" icon="arrow_upward" [type]="'ahead'">
          </app-badge>
          <span *ngIf="project.ahead === 0 || project.ahead === '-'" class="muted">—</span>
        </td>
      </ng-container>      

      <!-- Behind -->
      <ng-container matColumnDef="behind">
        <th mat-header-cell *matHeaderCellDef class="col-center">Behind</th>
        <td mat-cell *matCellDef="let project" class="col-center">
          <app-badge *ngIf="project.behind > 0" [label]="project.behind" icon="arrow_downward" [type]="'behind'">
          </app-badge>
          <span *ngIf="project.behind === 0 || project.behind === '-'" class="muted">—</span>
        </td>
      </ng-container>      

      <!-- Deploy -->
      <ng-container matColumnDef="deploy">
        <th mat-header-cell *matHeaderCellDef class="col-center">Deploy</th>
        <td mat-cell *matCellDef="let project" class="col-center">
          <span
            class="deploy-icon"
            [ngClass]="getDeployClass(project)"
            [title]="getDeployText(project)">
            {{ getDeployIcon(project) }}
          </span>
        </td>
      </ng-container>

      <!-- Config -->
      <ng-container matColumnDef="config">
        <th mat-header-cell *matHeaderCellDef class="col-center">Config</th>
        <td mat-cell *matCellDef="let project" class="col-center">

          <!-- <span *ngIf="project.configFiles?.length"
                class="config-warning"
                [matTooltip]="project.configFiles.join('\n')"
                matTooltipClass="config-tooltip"
                matTooltipPosition="above">
            ⚠️
          </span> -->
          <button mat-icon-button *ngIf="project.configFiles?.length" class="warning" (click)="openConfigDetails(project)"
          [matTooltip]="project.configFiles.join('\n')" matTooltipClass="config-tooltip" matTooltipPosition="above">
          <mat-icon>warning</mat-icon>
        </button>
          <span *ngIf="!project.configFiles?.length">—</span>
        </td>
      </ng-container>

      <!-- Header + Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </section>

  <ng-template #noData>
    <div class="empty-state">
      <mat-icon>folder_off</mat-icon>
      <h3>No Project Selected</h3>
      <p>
        Please select a project in
        <strong>Settings</strong>.
      </p>
    </div>
  </ng-template>


  <div class="actions" *ngIf="hasSelectedProject">
    <!-- Left: Last Refreshed Info -->
    <div class="refresh-info">
      ⏱️ Last refreshed: {{ lastRefreshed | date: 'dd/MM/yyyy hh:mm a' }}
    </div>
    <div class="button-group">
      <button mat-raised-button class="themed-btn"
              (click)="compareBranches()">
        🔀 Compare
      </button>
    </div>
  </div>
</div>
