@import '../../../assets/shared-styles.scss';

.mr-container {
  @extend .page-container;
}

table {
  margin-bottom: 20px;
}

.status-col {
  font-weight: 700;
  color: orange;
}

a {
  color: var(--accent-color);
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
}

  a:hover {
    opacity: 0.6;
  }

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-info {
  opacity: 0.7;
}

.pending {
  color: orange !important;
}
