@import '../../../assets/shared-styles.scss';

.mr-container {
  @extend .page-container ;
}

table {
  margin-bottom: 20px;
}
  

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-info {
  opacity: 0.7;
}