<div class="home-container">
  <!-- Filters -->
  <div class="controls" *ngIf="hasSelectedProject">
    <!-- Assignee -->
    <mat-form-field appearance="fill" class="control-item">
      <mat-label>Assignee</mat-label>
      <mat-select [(ngModel)]="selectedAssigneeId">
        <mat-option *ngFor="let user of assignees" [value]="user.user_id">
          {{ user.user_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Target Branch -->
    <mat-form-field appearance="fill" class="control-item" *ngIf="showBranchSelector">
      <mat-label>Target Branch</mat-label>
      <mat-select [(ngModel)]="targetBranch" (ngModelChange)="onTargetBranchChange()">
        <mat-option [value]="customSettings?.supportBranch">
          {{ 'Support(' + customSettings?.supportBranch + ')' }}
        </mat-option>
        <mat-option [value]="customSettings?.releaseBranch">
          {{ 'Release(' + customSettings?.releaseBranch + ')' }}
        </mat-option>
        <mat-option [value]="customSettings?.liveBranch">
          {{ 'Live(' + customSettings?.liveBranch + ')' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Labels -->
    <div class="labels control-item">
      <mat-label>Labels</mat-label>
      <div class="label-list">
        <mat-checkbox *ngFor="let label of labels" [(ngModel)]="label.is_selected">
          {{ label.name }}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <div *ngIf="dataSource.data.length > 0; else noData">
  <!-- Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table">
    <!-- Select -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef="let project">
        <mat-checkbox [(ngModel)]="project.is_selected"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Project Name -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <!-- <td mat-cell *matCellDef="let project">{{ project.project_name }}</td> -->
      <td mat-cell *matCellDef="let project">
        <app-badge [label]="project.project_name" variant="pill" [type]="getProjectType(project.project_name)">
        </app-badge>
      </td>
    </ng-container>

    <!-- Branch -->
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef class="col-center"> Branch </th>
      <td mat-cell *matCellDef="let project" class="col-center">
        <app-badge [label]="project.current_branch" variant="pill"
          [type]="getBranchChipType(project.sourceBranchExists)">
        </app-badge>
      </td>
    </ng-container>

    <!-- Target -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef class="col-center"> Target </th>
      <td mat-cell *matCellDef="let project" class="col-center">
        <app-badge [label]="project.target_branch" variant="pill"
          [type]="getBranchChipType(project.targetBranchExists)"> 
        </app-badge>
      </td>
    </ng-container>

    <!-- Ahead -->
    <ng-container matColumnDef="ahead">
      <th mat-header-cell *matHeaderCellDef class="col-center"> Commits Ahead </th>
      <td mat-cell *matCellDef="let project" class="col-center">
        <app-badge *ngIf="project.commits_ahead > 0" [label]="project.commits_ahead" icon="arrow_upward" [type]="'ahead'">
        </app-badge>
        <span *ngIf="project.commits_ahead === 0 || project.commits_ahead === '-'" class="muted">—</span>
      </td>
    </ng-container>

    <!-- MR Status -->
    <ng-container matColumnDef="mr_status">
      <th mat-header-cell *matHeaderCellDef class="col-center"> MR Status </th>
      <td mat-cell *matCellDef="let project" class="col-center">
        <!-- <span class="mr-status" [ngClass]="getMRStatusClass(project.mr_status)">
          {{ project.mr_status || 'No MR' }}
        </span> -->
        <app-badge [label]="project.mr_status" variant="pill"
          [type]="project.mr_status">
        </app-badge>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="['select', 'project', 'branch', 'target', 'ahead', 'mr_status']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['select', 'project', 'branch', 'target', 'ahead', 'mr_status'];"></tr>
    </table>
  </div>
  
  <ng-template #noData>
    <div class="empty-state">
      <mat-icon>folder_off</mat-icon>
      <h3>No Project Selected</h3>
      <p>
        Please select a project and configure its local repository path in
        <strong>Settings</strong>.
      </p>
    </div>
  </ng-template>

  <!-- MR Meta -->
  <section class="mr-meta" *ngIf="dataSource.data.length > 0">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>MR Title</mat-label>
      <input matInput [(ngModel)]="mrTitle" placeholder="Leave blank to use latest commit message" required/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>MR Description (optional)</mat-label>
      <textarea matInput [(ngModel)]="mrDescription" rows="3"
        placeholder="Leave blank to use latest commit message"></textarea>
    </mat-form-field>
  </section>

  <!-- Create MR -->
  <!-- Action Section -->
  <div class="actions" *ngIf="hasSelectedProject">
    <!-- Left: Last Refreshed Info -->
    <div class="refresh-info">
      ⏱️ Last refreshed: {{ lastRefreshed | date: 'dd/MM/yyyy hh:mm a' }}
    </div>

    <!-- Right: Buttons -->
    <div class="button-group">
      <button mat-raised-button class="themed-btn" (click)="isAnySelected() ? updateMrStatus() : loadProjectsWithCommitInfo()">🔄 Refresh</button>
      <button mat-raised-button class="themed-btn" (click)="createMergeRequests()" [disabled]="!isAnySelected() || !mrTitle || mrTitle.trim() === ''">🚀 Create MR</button>
    </div>
  </div>

</div>