<div class="home-container">
  <div class="controls">
    <mat-form-field appearance="fill" class="control-item" *ngIf="showBranchSelector">
      <mat-label>Target Branch</mat-label>
      <mat-select [(ngModel)]="targetBranch" (ngModelChange)="refreshPipelines()">
        <mat-option [value]="customSettings?.supportBranch">
          {{ 'Support(' + customSettings?.supportBranch + ')' }}
        </mat-option>
        <mat-option [value]="customSettings?.releaseBranch">
          {{ 'Release(' + customSettings?.releaseBranch + ')' }}
        </mat-option>
        <mat-option [value]="customSettings?.liveBranch">
          {{ 'Live(' + customSettings?.liveBranch + ')' }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="dataSource.data.length > 0; else noData">
  <!-- Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table">
    <!-- Project Name -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let pipeline">
        <app-badge [label]="pipeline.project_name" [type]="getProjectType(pipeline.project_name)"></app-badge>
      </td>
    </ng-container>

    <!-- Pipeline Type -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let pipeline">{{ pipeline.type }}</td>
    </ng-container>

    <!-- Triggered By -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Triggered By </th>
      <td mat-cell *matCellDef="let pipeline">{{ pipeline.user }}</td>
    </ng-container>

    <!-- Created At -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let pipeline">{{ pipeline.created_at }}</td>
    </ng-container>

    <!-- Pipeline Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="col-center"> Status </th>
      <td mat-cell *matCellDef="let pipeline" class="col-center">
        <app-badge [label]="pipeline.status" variant="pill"
          [type]="pipeline.status">
        </app-badge>
      </td>
    </ng-container>

    <!-- Info -->
    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef class="col-center"> Info </th>
      <td mat-cell *matCellDef="let pipeline" class="col-center">
        <button mat-icon-button (click)="openDetails(pipeline.full_pipeline)">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- URL -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef class="col-center"> Open </th>
      <td mat-cell *matCellDef="let row" class="col-center">
        <a (click)="openDefaultBrowser(row.link)" class="pointer">🔗</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['project', 'type', 'user', 'created','status', 'info', 'link']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['project', 'type', 'user', 'created','status', 'info', 'link'];"></tr> 
    </table>
  </div>

  <ng-template #noData>
    <div class="empty-state">
      <mat-icon>inbox</mat-icon>
      <h3>No Pipelines Yet</h3>
      <p>Pipelines will appear here once they are created</p>
    </div>
  </ng-template>

  <!-- Action Section -->
  <div class="actions">
    <!-- Left: Last Refreshed Info -->
    <div class="refresh-info">
      ⏱️ Last refreshed: {{ lastRefreshed | date: 'dd/MM/yyyy hh:mm a' }}
    </div>

    <!-- Right: Buttons -->
    <div class="button-group">
      <button mat-raised-button class="themed-btn" (click)="refreshPipelines()">🔄 Refresh</button>
    </div>
  </div>

</div>
